/**
 * Editor
 */
.wp-block-deezer-widget {
	$el: &;
	$input-color: #f5f2f8;
	$input-border-radius: 8px;
	$input-height: 48px;
	$input-bg-color: #3a393d;

	box-sizing: border-box;
	padding: 48px 32px;
	border-radius: 8px;
	background: #1b191f;
	color: #fdfcfe;

	.deezer-horizontal-lockup {
		display: block;
		width: 192px;
		margin: 0 auto 48px;
	}

	// ----
	// form
	// ----
	&__form {
		max-width: 580px;
		margin: 0 auto;
	}

	&__form-row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 24px;
		margin-bottom: 24px;

		&:last-child {
			margin-top: 48px;
			margin-bottom: 0;
		}
	}

	.components-input-control__label {
		color: inherit;
	}

	button {
		padding: 0;
		margin: 0;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
		color: inherit;
		background: transparent;
		border: none;
		cursor: pointer;
	}

	.components-select-control {
		min-width: 200px;
		color: inherit;

		.components-input-control__container {
			background-color: $input-bg-color;
			border-radius: $input-border-radius;
		}

		select.components-select-control__input {
			height: $input-height;
			color: $input-color;
		}

		.components-input-control__backdrop {
			display: none;
		}
	}

	.components-input-control {
		flex-grow: 1;

		.components-input-control__container  {
			background: none;

			.components-input-control__input {
				height: $input-height;
				color: $input-color;
				background: $input-bg-color;
				border: none;
				border-radius: $input-border-radius;
			}

			.components-input-control__backdrop {
				display: none;
			}
		}
	}

	&__form-error {
		width: 100%;
		margin: -16px 0 0;
		color: #a9a6aa;
		font-size: 14px;
		line-height: 1.2em;
	}

	#{$el}__form-submit {
		height: $input-height;
		padding: 0 24px;
		font-size: 16px;
		font-weight: 700;
		color: #f5f2f8;
		background-color: #a238ff;
		border-radius: $input-border-radius;
		transition: background-color .2s;

		&:hover,
		&:focus,
		&:active {
			background-color: #b560ff;
		}
	}

	// ----
	// search
	// ----
	&__form-search {
		flex-grow: 1;
		position: relative;
		z-index: 1;
	}

	&__search-results {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		max-height: 300px;
		padding: 16px;
		margin: 0;
		list-style: none;
		font-size: 16px;
		line-height: 1.2em;
		overflow: auto;
		background: #0f0d13;
		border-radius: 8px;

		li {
			display: flex;
			align-items: center;
			gap: 16px;

			+ li {
				margin-top: 16px;
			}
		}
	}

	&__card {
		display: flex;
		gap: 16px;

		img {
			align-self: flex-start;
			width: 48px;
			height: 48px;
		}
	}

	&__card-content {
		align-self: center;

		button {
			text-align: left;
			transition: opacity .2s;

			&:hover,
			&:focus,
			&:active {
				opacity: .75;
			}
		}
	}

	#{$el}__card-title {
		display: block;
	}

	#{$el}__card-artist {
		margin-right: 8px;
	}

	#{$el}__card-artist,
	#{$el}__card-album {
		font-size: 12px;
	}

	// ----
	// not selected
	// ----
	&:not(.is-selected) {
		iframe {
			pointer-events: none;
		}
	}

	// ----
	// preview
	// ----
	&:has(iframe) {
		padding: 0;
		background: transparent;
		border-radius: 0;
	}

	iframe {
		vertical-align: bottom;
		border: none;
		outline: none;
	}
}
